.container-homepage{
	width:percentage(6/7);
	margin:0 auto;
	background:#fff;
	display:table;
}
ul.page{
	width:100%;
	font-size:250%;

	li{
	list-style:none;
	width:50%;
	padding-left:2%;
	float:left;
	height:60px;
	line-height:60px;
		span{
		color:#D6A096;
		}
		a{
		text-decoration:none;
		}
	
	&:hover{
	cursor:pointer;
	background:#8C534D;
	 a{
color:#fff

	}
	}

	}

}